
.words-input {
  height: 30px;
  width: 95%;
  font-size: 20px;
  border: 1px solid #ff6600;
  padding: 4px 20px;
  font-family: cursive;
  border-radius: 10px;
  box-shadow: 0px 0px 4px #ff6600;
}
.copybook-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;

}


.my-radio  {
  padding: 2.5px;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin-right: 5px;
}