@import '//at.alicdn.com/t/font_1656641_sdd7w7hexx.css';
.iconfont{
  font-size: 20px;
}
.icon-setting{
  font-size: 28px;
  cursor: pointer;
}
.App {
  text-align: center;
  max-width: 900px;
  margin: auto;
  background-color: #fffbf2;
}
 